<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTile}}</title>
</head>
<body>
    <h1>{{pageTile}}</h1>
    <p><span >Name: </span><span>{{firstName}}  {{lastName}}</span></p>
    <p> Pages Likes: {{likes}}</p>
    <footer>
        <p>Copyright {{currentYear}}</p>
    </footer>
</body>
</html>